# 忽略所有图片文件
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tif
*.tiff
*.svg

# 忽略特定目录中的所有文件
fpinn_results/
xpinn_results/

# Python临时文件
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# 虚拟环境
venv/
ENV/
env/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# VS Code
.vscode/

# 模型文件
*.pt
*.pth

# 日志文件
*.log 